*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html{
  font-size:62.5%;
  scroll-behavior: smooth;
}
/*=======nav bar======*/
.header{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7%;
  border-bottom: 0.5rem solid #ffc107;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
 .header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}
.header .navbar a:hover{
  color: #ffc107;
  border-bottom: 0.1rem solid #ffc107;
  padding-bottom: 0.5rem;
}
.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .icons div:hover{
  color: #ffc107;
}
#menu-btn{
  display:none;
}
/*==========home page=======*/
.home {
  min-height: 100vh;
  display: flex;
   align-items: center;
  background:
    url(../src/images-cap/high-angle-view-various-raw-vegetables-black-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5px solid #ffc107;
}
.home .content {
  flex: 1 1 17rem;
  max-width: 60rem;
}

.home span {
  color: #ffc107;
  text-transform: uppercase;
  font-style: italic;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}
section {
  padding: 2rem 7%;
  background-color:#0000;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  text-decoration: none;
}
#btn{
  background-color: #ffc107;
  color: #eee;
}

.btn:hover {
  letter-spacing: 0.2rem;
}
body {
  background: #010103;
  overflow-x: hidden;
}
.menu{
  background-color: #000000fc;
  border-bottom: 0.5px solid #ffc107;
}
.head-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.head-content .btn1{
  text-decoration: none;
  border: 2px solid black;
  background-color: #ffc107;
  padding: 0.7rem;
  border-radius: 15px;
  display: inline-block;
  font-size: 1.3rem;
  color: black;
}
/*=======specials section=======*/
.btn1:hover {
  letter-spacing: 0.2rem;
}
.head-content h1{
  font-size: 4.5rem;
  color: white;
}
.head-content h1 span{
  color: #ffc107;
}
.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,25rem));
  gap: 2rem;
}
.box-container .box{
  overflow: hidden;
  box-shadow: 0 2px 20px gainsboro ;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition:transform 200ms ease-in;
  background-color: wheat;
}
.box-container .box .box-img{
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.box-container .box .letter h2{
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.box-container .box .letter p{
  margin: 1rem;
  padding-top: 0rem;
  color:black;
  font-size: 1.2rem;
}
.box-container .box .description{
  max-height:3em ;
  text-align: justify;
  padding: 0 1rem;
  color: black;
}
.box-container .box a{
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  color:purple;
}
.box:hover{
  transform: scale(1.08);
  box-shadow: 0 2px 20px #ffc107 ;
}
/*======== booking=======*/
.card {
  border-radius: 8px;
  box-shadow: 0 2px 20px gainsboro;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header h1 {
  font-size: 24px;
  color: #fff;
}

.card-body label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.card-body input,
.card-body select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 600;
  background: transparent;
  color: #fff;
}
.card-body select option{
  background: transparent;
  color:black
}

.card-body button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-body button:hover {
  background-color: #0056b3;
}
.booking-section {
  background:
    url(../src/images-cap/home-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 7rem;
}
/*======Login========*/
.login-section{
  background:
    url(../src/images-cap/home-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top:7rem;
}
fieldset label{
  display: block;
  margin-bottom: 1px;
  margin-top: 10px;
}
fieldset input{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
  background: transparent;
}
.register{
  text-align:center;
}
.FieldError{
  color:white;
}
fieldset button{
  display: block;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.register{
  color: #fff;
}
.register a{
  text-decoration: none;
}
.icons{
  color: #fff;
  margin-left: 5px;
}
.remember-forgot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember-forgot label{
  font-weight: 400;
  color: #fff;
}
.remember-forgot label input{
width: auto;
}
.remember-forgot a{
  text-decoration: none;
}
/*=========Testimonial======*/
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,25rem));
  gap: 2rem;
}
.container .card{
  display: flex;
  flex-wrap: wrap;
}
.container .card .img-info{
  align-content: center;
  justify-content: space-between;
}
.quote {
  position: absolute;
  top: 0;
  right: 0;
}
.quote .quote-img{
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.container .card .img-Q{
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.stars{
  color: #ffc107;
}
.info span{
  font-size: 1.5rem;
}
.testimonials{
  background: #000;
}
h2 span{
  color:#ffc107;
}
/*====About section=====*/
.about-section{
  background:black
}
.our-story {
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
}

.our-story-description {
  grid-column: 1;
}

.our-story-description h1 {
  color: #F4CE14;
}
.our-story-description h2{
  color: #fff;
}

.our-story-description p {
  padding-top: 1.5rem;
  text-align: justify;
  color: #fff;
}

.our-story-chefs {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.our-story-chefs img {
  border-radius: 1rem;
  box-shadow: 0 2px 20px gainsboro ;
  height: 17rem;
  width: 50%;
  object-fit: cover;
  margin-top: 1rem;
}
/*======Footer-section======*/
.footer-section{
  background: #000;
  width: 100%;
  position: relative;
}
.footer-section .container-footer{
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:2rem;
}
.footer-section .container-footer .sec h2{
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-section .container-footer .sec h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  width: 50px;
  height: 2px;
  background: #ffc107;
}
.soc{
  display: grid;
  grid-template-columns: repeat(4,20px);
  grid-gap: 20px;
  margin-left: -20px;
}
.soc li{
  list-style: none;
  display:grid;
}
.soc li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  align-content: center;
  display: grid;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
}
.soc li a:hover{
  background: #ffc107;
}
.soc li a .fab:hover{
  color:black;
}
.soc li a .fab{
  color: #fff;
  font-size: 20px;
}
span.fas{
  color: #fff;
  margin-top:10px
}
.info{
  position:relative;
}
.info li{
  list-style:none;
  display:grid;
  grid-template-columns:30px 1fr;
}
.info li a{
  text-decoration:none;
  color:white;
}
.navigation{
  position: relative;
}
.navigation li{
  list-style: none;
}
.navigation li a{
  margin-top:5px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.navigation li a:hover{
  color: #ffc107;
}
.container-footer img{
  max-height:17rem;
}
.container-footer p{
  color: #fff;
  margin-top: 1rem;
}
.copyright{
  color:white;
  text-align: center;
  margin-top: 1.5rem;
}
.confirmed{
  background:
    url(../src/images-cap/about-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  margin-top: 7rem;
}
.confirmed h1{
  text-align: center;
  color: white;
}
.confirmed p{
  text-align: center;
  color: #fff;
}



@media (max-width: 768px) {
#menu-btn{
  display:inline-block;
}
.header .navbar {
  position: absolute;
  top: 100%;
  right: -100%;
  background: #000;
  width: 17rem;
  height: calc(100vh - 9.5rem);
}
.header .navbar.active {
  right: 0;
}
.header .navbar a {
  color: #fff;
  display: inline-block;
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}
.home {
  background-position: left;
  justify-content: center;
  text-align: center;
}

.home .content h3 {
  font-size: 4.5rem;
}

.home .content p {
  font-size: 1.5rem;
}
.footer-section .container-footer{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:2rem;
}
.box-container{
  align-content: center;
  justify-content: center;
}
.container{
  align-content: center;
  justify-content: center;
}
.our-story-chefs{
  flex-direction: column;
  margin-left: 10%;
}
.our-story-chefs img{
  width: 100%;
}
}